
 <form action = "/users" method = "post"> 
            <input type = "text" name = "first_name" value = "" maxlength = "100" />
            <input type = "text" name = "last_name" value = "" maxlength = "100" />
         	<input type = "submit" value ="Submit" />
 </form>